DATABASE_NAME=quantdb
DATABASE_USER=quantuser
DATABASE_PASSWORD=secret
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
RABBITMQ_USER=rabbituser
RABBITMQ_PASSWORD=rabbitpassword
USING_CELERY=True
API_KEY=replace_me
SECRET_KEY=replace_me
DEBUG=True