{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}Add metrics manually{% endblock %}

{% block content %}
    <div class="p-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Add metrics to algorithm</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>name</th>
                    <td>{{ algorithm.name }}</td>
                </tr>
                <tr>
                    <th>type</th>
                    <td>{{ algorithm.algorithm_type.type_name }}</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">Algorithm
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <code>{{ version.algorithm|linebreaks }}</code>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        {% endbuttons %}
    </form>

{% endblock %}
