{% extends 'base.html' %}

{% block title %}Algorithm view{% endblock %}

{% block content %}
    <div class="p-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Algorithm details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>name</th>
                    <td>{{ algorithm.name }}</td>
                </tr>
                <tr>
                    <th>type</th>
                    <td>{{ algorithm.algorithm_type.type_name }}</td>
                </tr>
                <tr>
                    <th>author</th>
                    <td>{{ algorithm.user.username }}</td>
                </tr>
                <tr>
                    <th>public?</th>
                    <td>{{ algorithm.public }}</td>
                </tr>
                <tr>
                    <th>molecule</th>
                    <td>{{algorithm.molecule.name }}</td>
                </tr>
                {% if algorithm.article_link %}
                    <tr>
                        <th>paper</th>
                        <td><a href="{{ algorithm.article_link }}" target="_blank">{{ algorithm.article_link }}</a></td>
                    </tr>
                {% endif %}
                {% if algorithm.github_link %}
                    <tr>
                        <th>Github</th>
                        <td><a href="{{ algorithm.github_link }}" target="_blank">{{ algorithm.github_link }}</a></td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Versions</th>
                </tr>
            </thead>
            <tbody>
                {% for v in versions %}
                    <tr>
                        <th>
                            <div class="text-center">{{ v.timestamp }}</div>
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Metrics
                        {% ifequal request.user.pk algorithm.user.pk %}
                            - <a href="{% url 'add_metrics'%}?index={{last.pk}}">add manually</a>
                        {% endifequal %}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>iterations</th>
                    <td>{{ last.iterations }}</td>
                </tr>
                <tr>
                    <th>measurements</th>
                    <td>{{ last.measurements }}</td>
                </tr>
                <tr>
                    <th>circuit depth</th>
                    <td>{{ last.circuit_depth }}</td>
                </tr>
                <tr>
                    <th>accuracy</th>
                    <td>{{ last.accuracy }}</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">Algorithm
                        {% ifequal request.user.pk algorithm.user.pk %}
                        - <a href="{% url 'add_version'%}?index={{algorithm.pk}}">add new version</a>
                        {% endifequal %}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <code>{{ last.algorithm|linebreaks }}</code>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
