{% extends 'base.html' %}

{% block title %}Algorithm comparison{% endblock %}

{% block content %}
    <div class="d-flex flex-row flex-wrap justify-content-center">
        <div class="p-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Select version:</th>
                        {% load tz %}
                        {% timezone "Europe/Helsinki" %}
                        <td>
                            <select onchange="window.location.href=this.value">
                                {% for version in versions1 %}
                                    {% ifequal version.pk params.version1_id %}
                                        <option
                                            value="{% url 'compare_algorithms' a1.pk a2.pk %}?version1_id={{ params.version1_id }}&version2_id={{ params.version2_id }}&metrics1_id={{ params.metrics1_id }}&metrics2_id={{ params.metrics2_id }}&molecule_id={{params.molecule_id}}"
                                            selected="selected">
                                            {{ version.timestamp|date:'d.n.Y, G:i' }}
                                        </option>
                                    {% else %}
                                        <option
                                            value="{% url 'compare_algorithms' a1.pk a2.pk %}?version1_id={{ version.pk }}&version2_id={{ params.version2_id }}&metrics1_id={{ params.metrics1_id }}&metrics2_id={{ params.metrics2_id }}&molecule_id={{params.molecule_id}}">
                                            {{ version.timestamp|date:'d.n.Y, G:i' }}
                                        </option>
                                    {% endifequal %}
                                {% endfor %}
                            </select>
                        </td>
                        {% endtimezone %}
                        <td>
                            <select onchange="window.location.href=this.value">
                                {% for version in versions2 %}
                                    {% ifequal version.pk params.version2_id %}
                                        <option
                                            value="{% url 'compare_algorithms' a1.pk a2.pk %}?version1_id={{ params.version1_id }}&version2_id={{ params.version2_id }}&metrics1_id={{ params.metrics1_id }}&metrics2_id={{ params.metrics2_id }}&molecule_id={{params.molecule_id}}"
                                            selected="selected">
                                            {{ version.timestamp|date:'d.n.Y, G:i' }}
                                        </option>
                                    {% else %}
                                        <option
                                            value="{% url 'compare_algorithms' a1.pk a2.pk %}?version1_id={{ params.version1_id }}&version2_id={{ version.pk }}&metrics1_id={{ params.metrics1_id }}&metrics2_id={{ params.metrics2_id }}&molecule_id={{params.molecule_id}}">
                                            {{ version.timestamp|date:'d.n.Y, G:i' }}
                                        </option>
                                    {% endifequal %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th>Select molecule:</th>
                        {% if molecule %}
                            <td>
                                <select onchange="window.location.href=this.value">
                                    {% for m in common_molecules %}
                                        {% ifequal m.pk molecule.pk %}
                                            <option
                                                value="{% url 'compare_algorithms' a1.pk a2.pk %}?version1_id={{ params.version1_id }}&version2_id={{ params.version2_id }}&metrics1_id={{ params.metrics1_id }}&metrics2_id={{ params.metrics2_id }}&molecule_id={{params.molecule_id}}"
                                                selected="selected">
                                                {{ m.name }}
                                            </option>
                                        {% else %}
                                            <option
                                                value="{% url 'compare_algorithms' a1.pk a2.pk %}?version1_id={{ params.version1_id }}&version2_id={{ params.version2_id }}&metrics1_id={{ params.metrics1_id }}&metrics2_id={{ params.metrics2_id }}&molecule_id={{m.pk}}">
                                                {{ m.name }}
                                            </option>
                                        {% endifequal %}
                                    {% endfor %}
                                </select>
                            </td>
                        {% else %}
                            <td>No common molecules</td>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>name</th>
                        <td><a href="{{ a1.get_absolute_url }}">{{ a1.name }}</a></td>
                        <td><a href="{{ a2.get_absolute_url }}">{{ a2.name }}</a></td>
                    </tr>
                    <tr>
                        <th>type</th>
                        <td>{{ a1.algorithm_type.type_name }}</td>
                        <td>{{ a2.algorithm_type.type_name }}</td>
                    </tr>
                    <tr>
                        <th>author</th>
                        <td>{{ a1.user.username }}</td>
                        <td>{{ a2.user.username }}</td>
                    </tr>
                    {% if molecule %}
                        <tr>
                            <th>gate depth</th>
                            <td>{{ selected_metrics1.gate_depth }}</td>
                            <td>{{ selected_metrics2.gate_depth }}</td>
                        </tr>
                        <tr>
                            <th>qubit count</th>
                            <td>{{ selected_metrics1.qubit_count }}</td>
                            <td>{{ selected_metrics2.qubit_count }}</td>
                        </tr>
                        <tr>
                            <th>average iterations</th>
                            <td>{{ selected_metrics1.average_iterations }}</td>
                            <td>{{ selected_metrics2.average_iterations }}</td>
                        </tr>
                        <tr>
                            <th>success rate</th>
                            <td>{{ selected_metrics1.success_rate }}</td>
                            <td>{{ selected_metrics2.success_rate }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div {% if not molecule %} style="display: none;" {% endif %}>
            <div class="d-flex flex-column align-items-center m-auto">
                <div id="average-history-chart-div"></div>
                <div id="average-history-download-link-div"></div>
            </div>
        </div>
        <div {% if not molecule %} style="display: none;" {% endif %}>
            <div class="d-flex flex-column align-items-center m-auto">
                <div id="accuracy-history-chart-div"></div>
                <div id="accuracy-history-download-link-div"></div>
            </div>
        </div>
    </div>


    <!-- parse template variables to JSON so they can be safely accessed in JS code -->
    {{ a1.name|json_script:"a1-name" }}
    {{ a2.name|json_script:"a2-name" }}
    {{ average_history_graph_data|json_script:"average-history-graph-data" }}
    {{ accuracy_history_graph_data|json_script:"accuracy-history-graph-data" }}
    {{ algo_data|json_script:"algo-data"}}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { packages: ['bar', 'corechart', 'line'] });
        google.charts.setOnLoadCallback(drawChart);



        function createHistoryDataTable(a1Name, a2Name, graphData) {
            const dataTable = new google.visualization.DataTable();
            dataTable.addColumn('number', 'Iteration number');
            dataTable.addColumn('number', a1Name);
            dataTable.addColumn('number', a2Name);
            dataTable.addRows(graphData);
            return dataTable;
        }

        function createLineChartWithDownloadLink(chartDivName, downloadLinkDivName) {
            const chart = new google.visualization.LineChart(document.getElementById(chartDivName));
            const linkDiv = document.getElementById(downloadLinkDivName);
            google.visualization.events.addListener(chart, 'ready', () => {
                linkDiv.innerHTML = `<a href=${chart.getImageURI()} download=chart>Download as PNG</a>`;
            });
            return chart;
        }

        function getMinAndMax(array) {
            const temp = array.map(arr => arr.slice(1)).flat().filter(x => x != null);
            return { min: Math.min(...temp), max: Math.max(...temp) };
        }

        function drawChart() {
            const a1Name = JSON.parse(document.getElementById('a1-name').textContent);
            const a2Name = JSON.parse(document.getElementById('a2-name').textContent);
            const averageHistoryGraphData = JSON.parse(document.getElementById('average-history-graph-data').textContent);
            const accuracyHistoryGraphData = JSON.parse(document.getElementById('accuracy-history-graph-data').textContent);

            const averageHistoryDataTable = createHistoryDataTable(a1Name, a2Name, averageHistoryGraphData);
            const accuracyHistoryDataTable = createHistoryDataTable(a1Name, a2Name, accuracyHistoryGraphData);
            const ticks = Array.from({ length: averageHistoryGraphData.length }, (_, i) => i + 1);

            const baseOptions = {
                width: 600,
                height: 480,
                hAxis: {
                    title: 'Iterations',
                    viewWindow: {
                        min: 1,
                        max: averageHistoryGraphData.length
                    },
                    ticks
                },
                explorer: {
                    axis: 'vertical',
                    keepInBounds: true,
                }
            };

            const averageHistoryChartOptions = {
                ...baseOptions,
                title: "Average history",
                vAxis: {
                    title: "Average value",
                    viewWindow: getMinAndMax(averageHistoryGraphData),
                },
            };

            const accuracyHistoryChartOptions = {
                ...baseOptions,
                title: "Accuracy history",
                vAxis: {
                    title: "Accuracy value",
                    viewWindow: getMinAndMax(accuracyHistoryGraphData),
                },
            };

            const averageHistoryChart = createLineChartWithDownloadLink('average-history-chart-div', "average-history-download-link-div");
            const accuracyHistoryChart = createLineChartWithDownloadLink('accuracy-history-chart-div', 'accuracy-history-download-link-div')

            averageHistoryChart.draw(averageHistoryDataTable, averageHistoryChartOptions);
            accuracyHistoryChart.draw(accuracyHistoryDataTable, accuracyHistoryChartOptions);
        }
    </script>
{% endblock %}