{% extends 'base.html' %}

{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{% block title %}Main page{% endblock %}

{% block content %}

{% if filter %}
<form action="" method="get" name="filterForm" class="form form-inline"
    onchange="document.getElementsByName('filterForm')[0].submit();">
    {% bootstrap_form filter.form layout='inline' %}
</form>
{% endif %}

{% render_table table 'django_tables2/bootstrap4.html' %}
<div class="d-flex flex-row">
    <a id="compare" href="/" class="btn btn-primary mr-2">Compare</a>
    <button class="btn btn-danger" id="clearSelections" onclick="clearSelectionsAndReload()">
        Clear selections
    </button>
</div>
<script>
    var ind;
    var elements = document.getElementsByName("checkbox");
    var firstStr = window.sessionStorage.getItem("first") || "0";
    var secondStr = window.sessionStorage.getItem("second") || "0";
    var first = JSON.parse(firstStr);
    var second = JSON.parse(secondStr);
    console.log(first, second);
    var checked = [];
    if (first !== 0) {
        checked.push(first);
    }
    if (second !== 0) {
        checked.push(second);
    }
    var btn = document.getElementById("compare");
    btn.href = "/compare/" + first + "/" + second;

    for (ind = 0; ind < elements.length; ind++) {

        // check checkboxes again after a reload
        if (checked.indexOf(elements[ind].getAttribute("algorithm")) !== -1) {
            elements[ind].checked = true;
        }
        elements[ind].onclick = function () {
            var algorithm_id = this.getAttribute('algorithm');
            if (first === algorithm_id) {
                first = 0;
                window.sessionStorage.removeItem("first");
                checked.splice(checked.indexOf(algorithm_id), 1);
            } else if (second === algorithm_id) {
                second = 0;
                window.sessionStorage.removeItem("second");
                checked.splice(checked.indexOf(algorithm_id), 1);
            } else if (second === 0) {
                second = algorithm_id;
                window.sessionStorage.setItem("second", JSON.stringify(second));
                checked.push(second);
            } else if (first === 0) {
                first = algorithm_id;
                window.sessionStorage.setItem("first", JSON.stringify(first));
                checked.push(first);
            } else {
                event.preventDefault(); // TODO: give better feedback than a press doing nothing
            }
            var btn = document.getElementById("compare");
            btn.href = "/compare/" + first + "/" + second;
        }, { passive: true };
    }

    function clearSelectionsAndReload() {
        first = 0;
        second = 0;
        checked = [];
        window.sessionStorage.removeItem("first");
        window.sessionStorage.removeItem("second");
        window.location.reload();
    }
</script>
{% endblock %}