{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}Add a new molecule{% endblock %}

{% block content %}
    <h2>New molecule</h2>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        {% endbuttons %}
    </form>
    <h2>Existing molecules</h2>
    {% for m in molecules %}
        <div class="text-center">
            <a href="{{ m.get_absolute_url }}">
                {{ m.name }} - {{ m.structure }}
            </a>
        </div>
    {% endfor %}

{% endblock %}