{% load tz %}
{% timezone "Europe/Helsinki" %}
<form method="POST" name={{ form_name }} onchange="document.getElementsByName('{{ form_name }}')[0].submit();">
    {% csrf_token %}
    <select name={{ select_name }}>
    {% for v in versions %}
        {% ifequal v selectedVersion %}
            <option value="{{ v.pk }}" selected="selected">{{ v.timestamp|date:'d.n.Y, G:i' }}</option>
        {% else %}
            <option value="{{ v.pk }}">{{ v.timestamp|date:'d.n.Y, G:i' }}</option>
        {% endifequal %}
    {% endfor %}
    </select>
</form>
{% endtimezone %}