{% load static %}

{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>QuantMark</title>
</head>

{% bootstrap_css %}

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">Quantmark</a>
        {% if user.is_authenticated %}
            <div class="nav navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{% url 'myAlgorithms' %}">My algorithms</a>
                <a class="nav-item nav-link" href="{% url 'newAlgorithm' %}">Add an algorithm</a>
                <a class="nav-item nav-link" href="{% url 'newMolecule' %}">Add a molecule</a>
                <a class="nav-item nav-link" href="{% url 'newAlgorithmType' %}">Add a new algorithm type</a>
            </div>
            <div class="nav navbar-nav navbar-right">
                <span class="navbar-text">logged in - {{ request.user.username }}</span>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Log out</a>
            </div>
        {% else %}
            <div class="nav navbar-nav navbar-right ml-auto">
                <a class="nav-item nav-link" href="{% url 'signup' %}">Sign up</a>
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            </div>
        {% endif %}
    </nav>
    <div id="content" class="d-flex flex-column align-items-center">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>