# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [opened, synchronize, review_requested]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: psycopb2 prequisites
      run: sudo apt-get install python-dev libq-dev
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: flake8 . --show-source --statistics
    - name: Create env file
      run: |
        touch .env
        echo DATABASE_NAME=quantdb >> .env
        echo DATABASE_USER=quantuser >> .env
        echo DATABASE_PASSWORD=secret >> .env
        echo DATABASE_HOST=127.0.0.1 >> .env
        echo DATABASE_PORT=5432 >> .env
    - name: Test with Django
      run: |
        python manage.py test
    - name: Set up QEMU
      if: ${{ github.event_name == 'push' }}
      uses: docker/setup-qemu-action@v1
    - name: Set up Docker Buildx
      if: ${{ github.event_name == 'push' }}
      uses: docker/setup-buildx-action@v1
    - name: Login to DockerHub
      if: ${{ github.event_name == 'push' }}
      uses: docker/login-action@v1
      with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push
      if: ${{ github.event_name == 'push' }}
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: tapanih/quantmark_web:latest
